.container {
  flex-direction: row;
  width: 26rem;
  height: 50rem;
  margin: 1.5rem;
}

.fruit-img {
  position: relative;
  width: 15rem;
  height: 15rem;
  background-size: cover;
  background-position: center;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 15rem);
  align-self: center;
  border-radius: 1.3rem;
  text-align: center;
  box-shadow: 0 0 1.2rem -0.1rem #000000;
  margin: auto;
  overflow: scroll;
  position: relative;

  .fruit-title {
    margin-bottom: 3rem;
    padding: 0.8rem;
    font-size: 3rem;
    text-transform: uppercase;
    width: auto;
    text-align: center;
    color: #ffffff;
    border-radius: 0.8rem;
    backdrop-filter: blur(2rem);
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.1rem 1.2rem rgba(0, 0, 0, 0.25);
  }
}

.more-info {
  border-radius: 0.8rem;
  backdrop-filter: blur(2rem);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0.1rem 1.2rem rgba(0, 0, 0, 0.25);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: translate(-50%);
  scale: 1.1;

  span {
    font-size: 3rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
  }
}

.information {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  font-size: 1.6rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin: auto;
  text-align: center;
  font-family: var(--font-ubuntu);
  border-top: 1rem solid #9Dcb58;
  border-bottom: 1rem solid #9Dcb58;
  overflow: scroll;

  h3 {
    text-align: center;
    padding-bottom: 0.5rem;
  }
}

.fruit-name {
  border-bottom: dashed 0.2rem #9Dcb58;
  padding: 0.5rem 0;
}

.table-container {
  padding: 0.7rem 0.3rem
}

table {
  width: 100%;
  border: 0.1rem solid #000000;

  th {
    border: 0.1rem solid #000000;
    width: 30%;
    padding: 0.2rem;
  }

  td {
    border: 0.1rem solid #000000;
    width: 70%;
    text-align: left;
    padding: 0.2rem;
  }
}