.nav-container {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  padding-top: 4rem;

  h1 {
    font-size: 3.5rem;
    padding: 1.5rem 0;
    text-transform: uppercase;
    text-align: center;
  }
}

.seasons-container {
  position: relative;
  margin-top: 2rem;
  width: 50rem;
  height: 10rem;
}

nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 50rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  span {
    width: 20%;
    font-size: 4rem;
    line-height: 10rem;
    text-align: center;
    cursor: pointer;
  }
}

svg {
  circle {
    fill: rgba(255, 255, 255, 0.4)
  }
}

.fruits-container {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#summer-container,
#spring-container,
#fall-container,
#winter-container {
  h2 {
    text-align: center;
    font-size: 4rem;
    padding: 5rem 0 1rem 0;
  }
}

.season-fruits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5rem;
}

@media screen and (max-width: 768px) {

  .nav-container {
    h1 {
      font-size: 2.3rem;
    }
  }

  .seasons-container {
    margin-top: 1rem;
    width: 40rem;
    height: 8rem;
  }

  svg {
    width: 40rem;
    height: 8rem;
  }

  nav {
    width: 40rem;
    height: 8rem;

    span {
      line-height: 8rem;
      font-size: 3rem;
    }
  }

  #summer-container,
  #spring-container,
  #fall-container,
  #winter-container {
    h2 {
      text-align: center;
      font-size: 3.5rem;
      padding: 3rem 0 1rem 0;
    }
  }

}