@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  /* fonts */
  --font-josefin: 'Josefin Sans', sans-serif;
  --font-ubuntu: 'Ubuntu', sans-serif;

  /* colors */
  --main-text-color: #292525;
  --summer-1: #fff200;
  --summer-2: #ff6f0f;
  --spring-1: #fff200;
  --spring-1: #22b14c;
  --fall-1: #f6f1b5;
  --fall-2: #ae4f0c;
  --winter-1: #d7ccdf;
  --winter-2: #024f59;
}